#heatmap{
	width:1920px; 
	height:1080px;
	margin-left:auto; 
	margin-right:auto; 
	background-image:url('avg.png')
}

.titles{
	width:1920px; 
	margin-left: auto;
	margin-right: auto;
	/*height:20px;*/
	/*text-align: left; */
	/*display: block; */
	/*float:left; */
	/*margin-left:auto; */
	/*margin-right:auto;*/
}

.title_active{
	background-color:#c9c9c9;
}

h5{
	display: inline-flex;
	margin-right: 5px;
	margin-left: 5px;
	padding-right: 10px;
	padding-left: 10px;
	/*border-radius: : 5px;*/
	background-color: #999999;
	padding-top:4px;
	padding-bottom: 4px;
}

h5:hover{
	cursor: pointer;
}